<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}

      <a href="https://www.paypal.com/donate/?token=8WvBnj3PGpURzw5uPANa2FpmeENFv6hnH__RltM0XKPWv5DXDUJ2m67ld6kTR0v7esu_Em&country.x=SE&locale.x=&Z3JncnB0="><img src="https://img.shields.io/badge/Donate-PayPal-green.svg" alt="Donate"></a>

      </div>


    </main>



    {%- include footer.html -%}

  </body>

</html>
